@import url("table-controls.css");
@import url("table.css");
@import url("checkbox.css");
@import url("loader.css");

:root {
  --table-border: #bbb;
  --background-medium: #ccc;
  --background-light: #ddd;
}

/* catch all for things that didn't seem to need a new CSS class */

body {
  /* dark gray color of text on page */
  color: #333; 
}

/* oh tailwind! */
.relative {
  position: relative;
}
